@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {

  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Manrope", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background-image: url('/haramayauniversityphoto2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Smooth fonts on supported browsers */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
